@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

$bg-primary-1: #1f2a48;
$bg-primary-2: #2b3b69;
$options-bg : #4b63a0;
$bg-hover: #405691;
$button-bg: #066edd;
$body-bg: #141c2f;
$header-bg: #0d2053;
$gray-color: #dfdfdf;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;

    body {
        background: $body-bg;
    }
}

header {
    background: $header-bg;
    width: 100%;
    height: 4rem;
    color: #fff;

    nav {
        @include flex(row, flex-start, center);
        gap: 0.5rem;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 0.25rem;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

.home,
.filter-page {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    color: #fff;

    .filters {
        @include flex(row, flex-start, flex-start);
        gap: 1rem;

        .filters-item {
            @include flex(column, flex-start, flex-start);
            gap: 0.5rem;
            background: $bg-primary-1;
            padding: 0.25rem 0;

            label {
                @include flex(row, flex-start, center);
                gap: 0.25rem;
                width: 100%;
                padding: 0.25rem 0.5rem;

                input {
                    width: 0.75rem;
                }
            }
        }
    }

    .column-chart-container {
        width: 100%;
        max-width: 25rem;
        aspect-ratio: 2/1;
    }

    .line-chart-container {
        width: 100%;
        max-width: 100%;
    }
}